<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.mapper.IUserMapper">

    <select id="findByUserId" parameterType="com.forum.entity.Music">
        SELECT m.* FROM music m INNER JOIN user_music um on um.music_id=m.id
        where um.list_id=(select id from music_list
                          where `name` = #{name} and user_id=#{id})
    </select>

</mapper>